@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);
html {
  width: 100%;
  height: 100%;
}
body {
  color: #17b2ff;
  background: black;
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  width: 100%;
  height: 100%;
}
tr {
  height: 40px;
}
td {
  padding: 10px 10px;
}
.container {
  height: 100%;
}
.navbar-dark {
  background: black;
}
.navbar-nav {
  width: 100%;
}
.PipItemBG {
  background: rgba(23, 178, 255, 0.2);
}
.submenu {
  background: none;
}
.menuOption {
  padding-bottom: 0px;
  padding-top: 0px;
  color: #17b2ff;
  transition: all 0.2s;
}
.menuOption:hover,
.menuOption:active {
  cursor: pointer;
  outline: 1px solid #17b2ff;
  background: rgba(23, 178, 255, 0.2);
}
.SubmenuOption {
  padding: 0px 15px;
  color: rgba(23, 178, 255, 0.6);
}
.SubmenuOption:hover,
.SubmenuOption.active,
.SubmenuOption:target {
  color: #17b2ff;
  outline: none;
  border: 1px solid #17b2ff;
  border-top: none;
}
.TMSelectedOption {
  padding-bottom: 0px;
  padding-top: 0px;
  color: #17b2ff;
  transition: all 0.2s;
  border: 1px solid #17b2ff;
  border-top: none;
  border-bottom: 2px solid #000;
}
.TMSelectedOption:hover,
.TMSelectedOption:active {
  cursor: pointer;
  outline: 1px solid #17b2ff;
  background: rgba(23, 178, 255, 0.2);
}
.TMSelectedOption:hover,
.TMSelectedOption.active,
.TMSelectedOption:focus {
  outline: none;
}
.SMSelectedOption {
  padding: 0px 15px;
  color: rgba(23, 178, 255, 0.6);
  border: 1px solid #17b2ff;
  border-bottom: none;
  border-top: 2px solid #000;
}
.SMSelectedOption:hover,
.SMSelectedOption.active,
.SMSelectedOption:target {
  color: #17b2ff;
  outline: none;
  border: 1px solid #17b2ff;
  border-top: none;
}
.bar {
  display: inline-block;
  position: absolute;
  padding: 1px 1px 0;
  transform-origin: 50%;
  text-align: center;
  border: 2px solid #0A0;
  background-color: #0F0;
  height: 8px;
  width: 25%;
  left: 40%;
}
.pIcon {
  position: absolute;
  top: 25%;
  left: 25%;
}
.pStatIcon {
  background: rgba(23, 178, 255, 0.2);
}
.bg-success {
  background: #0F0 !important;
  border: 1px solid #0A0;
}
.MainScreen {
  width: 100%;
  height: 90%;
}
.StatItemButton {
  padding-bottom: 0px;
  padding-top: 0px;
  color: #17b2ff;
  transition: all 0.2s;
  border: none;
  background: rgba(23, 178, 255, 0.5);
  color: black;
  padding: 2px 20px;
  list-style-type: none;
  width: 100%;
}
.StatItemButton:hover,
.StatItemButton:active {
  cursor: pointer;
  outline: 1px solid #17b2ff;
  background: rgba(23, 178, 255, 0.2);
}
.StatItemButton:hover,
.StatItemButton:active {
  outline: 0px;
  background: rgba(23, 178, 255, 0.8);
}
#TopMenu {
  border-bottom: 1px solid #17b2ff;
}
#TopMenu .navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
#TopMenu li {
  text-align: center;
  width: 20%;
}
#TopMenu a {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
#TopMenu .navbar-dark,
#StatSub .navbar-dark,
#InventorySub .navbar-dark,
#DataScreen .navbar-dark {
  background: black !important;
  color: #17b2ff;
}
#TopMenu a,
#StatSub a,
#InventorySub a,
#DataScreen a {
  padding-bottom: 0px;
  padding-top: 0px;
  color: #17b2ff;
  transition: all 0.2s;
  border-bottom: none;
}
#TopMenu a:hover,
#StatSub a:hover,
#InventorySub a:hover,
#DataScreen a:hover,
#TopMenu a:active,
#StatSub a:active,
#InventorySub a:active,
#DataScreen a:active {
  cursor: pointer;
  outline: 1px solid #17b2ff;
  background: rgba(23, 178, 255, 0.2);
}
#StatSub,
#InventorySub,
#DataScreen {
  border-top: none;
  padding-top: 0px !important;
  padding-bottom: 0px;
}
#StatSub .navbar,
#InventorySub .navbar,
#DataScreen .navbar {
  padding-top: 0px !important;
}
#StatSub a,
#InventorySub a,
#DataScreen a {
  position: relative;
  padding: 0px 15px;
  color: rgba(23, 178, 255, 0.6);
  border-top: none;
}
#StatSub a:hover,
#InventorySub a:hover,
#DataScreen a:hover,
#StatSub a.active,
#InventorySub a.active,
#DataScreen a.active,
#StatSub a:target,
#InventorySub a:target,
#DataScreen a:target {
  color: #17b2ff;
  outline: none;
  border: 1px solid #17b2ff;
  border-top: none;
}
#StatusScreen .container {
  padding-top: 8%;
}
#StatusScreen #Bottom .row {
  margin: auto;
  width: 90%;
  padding: 0px;
}
#StatusScreen #Bottom .col-sm-7 {
  background: rgba(23, 178, 255, 0.2);
  padding: 0 5px;
  border: 1px solid rgba(23, 178, 255, 0.4);
  border-bottom: none;
}
#StatusScreen #Bottom .col-sm-7 .progress {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 170, 0, 0.6);
}
#StatusScreen #Bottom .col-sm-7 .progress-bar {
  background: #0F0 !important;
}
#StatusScreen #Bottom .col-sm-2 {
  background: rgba(23, 178, 255, 0.2);
  border: 1px solid rgba(23, 178, 255, 0.4);
  border-bottom: none;
  margin-left: 5px;
  margin-right: 5px;
}
#vaultboy {
  width: 210px;
  height: 240px;
}
#vbrow {
  height: 100%;
}
#SpecsScreen #SpecialTable table {
  width: 100%;
}
